<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<nav mat-tab-nav-bar>
  <a mat-tab-link
     *ngFor="let link of navLinks"
     [routerLink]="link.path" >
    {{link.label}}
  </a>
</nav>
<!--<app-report></app-report>
<app-employees-table></app-employees-table>
-->

<router-outlet></router-outlet>
