.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}


h3 {
  font-size: 15px;
  line-height: 60%;
}
