<h2 mat-dialog-title>{{createDialog ? 'Add' : 'Edit '}} Contract</h2>
<h3 mat-dialog-title>{{createDialog ? '' : 'Shop: '}} {{createDialog ? '' : contractDto.shopName}}</h3>
<h3 mat-dialog-title>{{createDialog ? '' : 'Employee: '}} {{createDialog ? '' : contractDto.surnameEmployee}}
  {{createDialog ? '' : contractDto.nameEmployee}}</h3>
<h3 mat-dialog-title>{{createDialog ? '' : 'Standing: '}} {{createDialog ? '' : contractDto.id.jobTitle}}</h3>
<h3 mat-dialog-title>{{createDialog ? '' : 'Start contract: '}} {{createDialog ? '' : contractDto.id.fromDate | date :"yyyy-MM-dd"}}</h3>


<mat-dialog-content>

  <!--Shop choose-->
  <mat-form-field *ngIf="createDialog" class="example-full-width">
    <mat-select placeholder="Shop Name" [(ngModel)]="contractDto.id.nip" name="shopName">
      <mat-option *ngFor="let shop of shops" [value]="shop.nip">
        {{shop.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!--Employee -->
  <mat-form-field *ngIf="createDialog" class="example-full-width">
    <mat-select placeholder="Employee" [(ngModel)]="contractDto.id.idEmployee" name="Employee">
      <mat-option *ngFor="let employee of employees" [value]="employee.id">
        {{employee.surname}} {{employee.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <!-- Job Title -->
  <mat-form-field *ngIf="createDialog" class="example-full-width">
    <mat-select placeholder="Standing" [(ngModel)]="contractDto.id.jobTitle" name="jobTitle"
                (selectionChange)="setSalaryLimit()">
      <mat-option *ngFor="let job of jobs" [value]="job.jobTitle">
        {{job.jobTitle}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field *ngIf="createDialog" class="example-full-width">
    <input matInput [matDatepicker]="picker2" placeholder="Start of contract" [(ngModel)]="contractDto.id.fromDate">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>


  <mat-form-field class="example-full-width">
    <input matInput [matDatepicker]="picker1" placeholder="End of contract" [(ngModel)]="contractDto.toDate">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>


  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput required type="number" placeholder="Salary" [(ngModel)]="contractDto.salary" name="salary">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
  </form>


</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">No Thanks</button>

  <button mat-raised-button color="primary" (click)="create()" [disabled]="!validationInput()">Save</button>
</mat-dialog-actions>

