<h2>Contracts</h2>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="employee">
      <th class ="headera" mat-header-cell *matHeaderCellDef>Employee
      </th>
      <td mat-cell *matCellDef="let row">{{row.surnameEmployee}} {{row.nameEmployee}}</td>
    </ng-container>


    <!-- shop name -->
    <ng-container matColumnDef="nameShop">
      <th mat-header-cell *matHeaderCellDef>Shop name</th>
      <td mat-cell *matCellDef="let row">{{row.shopName}}</td>
    </ng-container>

    <!-- job title -->
    <ng-container matColumnDef="jobTitle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Standing</th>
      <td mat-cell *matCellDef="let row">{{row.id.jobTitle}}</td>
    </ng-container>

    <!--from date -->
    <ng-container matColumnDef="fromDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Start of the contract</th>
      <td mat-cell *matCellDef="let row">{{row.id.fromDate | date}}</td>
    </ng-container>

    <!-- to date -->
    <ng-container matColumnDef="toDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>End of the contract</th>
      <td mat-cell *matCellDef="let row">{{row.toDate | date}}</td>
    </ng-container>

    <!-- salary -->
    <ng-container matColumnDef="salary">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Salary</th>
      <td mat-cell *matCellDef="let row">{{row.salary}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" (click)="openDialog(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="delete(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator #paginator
                 [length]="dataSource.totalElements"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[10,25, 50, 100,250]">
  </mat-paginator>
</div>
<div class="wrapper">
  <button mat-fab color="primary" class="button" (click)="openDialog(null)">
    <mat-icon>add</mat-icon>
  </button>
</div>



