<h1 mat-dialog-title>{{createDialog ? 'Add' : 'Edit '}} Employee</h1>
<!--<h1 mat-dialog-title>{{createDialog ? '' : 'Id: '}} {{createDialog ? '' : employee.id}}</h1>-->
<mat-dialog-content>


  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput required type="text" placeholder="name" maxlength="50" [(ngModel)]="employee.name" name="name">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
  </form>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput required type="text" placeholder="surname" [(ngModel)]="employee.surname" maxlength="50" name="surname">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
  </form>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput required type="text" placeholder="address" [(ngModel)]="employee.address" maxlength="50" name="address">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
  </form>


  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput required type="text" placeholder="password" [(ngModel)]="employee.password" maxlength="50" name="password">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
  </form>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">No Thanks</button>

  <button mat-raised-button color="primary" (click)="create()" [disabled]="!validationInput()" >Save</button>
</mat-dialog-actions>

