<h2 mat-dialog-title>{{createDialog ? 'Add' : 'Edit '}} Report</h2>
<h3 mat-dialog-title>{{createDialog ? '' : 'Shop: '}} {{createDialog ? '' : reportFull.shopName}}</h3>
<h3 mat-dialog-title>{{createDialog ? '' : 'Employee: '}} {{createDialog ? '' : reportFull.surnameEmployee}} {{createDialog ? '' : reportFull.nameEmployee}}</h3>
<h3 mat-dialog-title>{{createDialog ? '' : 'Date report: '}} {{createDialog ? '' : reportFull.id.dateReport | date }}</h3>


<mat-dialog-content>

  <!--Employee -->
  <mat-form-field  *ngIf="createDialog" class="example-full-width">
    <mat-select placeholder="Employee"  [(ngModel)]="reportFull.id.idEmployee" name="Employee" (selectionChange)="findShops(reportFull.id.idEmployee)">
      <mat-option *ngFor="let employee of employees" [value]="employee.id">
        {{employee.surname}} {{employee.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field  *ngIf="createDialog" class="example-full-width">
    <mat-select placeholder="Shop" [(ngModel)]="reportFull.id.nip" name="Shop">
      <mat-option *ngFor="let shop of shops" [value]="shop.nip">
        {{shop.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>



  <mat-form-field  *ngIf="createDialog" class="example-full-width">
    <input matInput [matDatepicker]="picker2" placeholder="Date of Report" [(ngModel)]="reportFull.id.dateReport">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>


  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput required type="number" placeholder="Income" [(ngModel)]="reportFull.income"  name="income">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
  </form>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput required type="number" placeholder="Costs" [(ngModel)]="reportFull.costs"  name="costs">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
  </form>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput required type="number" placeholder="Sold" [(ngModel)]="reportFull.sold"  name="sold">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
  </form>





</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">No Thanks</button>

  <button mat-raised-button color="primary" (click)="create()" [disabled]="!validationInput()">Save</button>
</mat-dialog-actions>

