<h2>Shops</h2>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="nip">
      <th class ="headera" mat-header-cell *matHeaderCellDef>nip
      </th>
      <td mat-cell *matCellDef="let row">{{row.nip}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>address</th>
      <td mat-cell *matCellDef="let row">{{row.address}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef>password</th>
      <td mat-cell *matCellDef="let row">{{row.password}}</td>
    </ng-container>

    <ng-container matColumnDef="totalProfit">
      <th mat-header-cell *matHeaderCellDef>Profit,delete Reports</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" (click)="calculateProfit(row.nip)">
          <mat-icon>euro_symbol</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteReports(row.nip)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </td>
    </ng-container>



    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" (click)="openDialog(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="delete(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator #paginator
                 [length]="dataSource.totalElements"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[10,25, 50, 100,250]">
  </mat-paginator>
</div>
<div class="wrapper">
  <button mat-fab color="primary" class="button" (click)="openDialog(null)">
    <mat-icon>add</mat-icon>
  </button>
</div>



