<h2>Jobs</h2>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- Name Column -->
    <ng-container matColumnDef="job_title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Job Title</th>
      <td mat-cell *matCellDef="let row">{{row.jobTitle}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="salary_min">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Salary Min</th>
      <td mat-cell *matCellDef="let row">{{row.salaryMin}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="salary_max">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Salary Max</th>
      <td mat-cell *matCellDef="let row">{{row.salaryMax}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" (click)="openDialog(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="delete(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  </table>

  <mat-paginator #paginator
                 [length]="dataSource.totalElements"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[10,25, 50, 100,250]">
  </mat-paginator>
</div>

<div class="wrapper">
  <button mat-fab color="primary" class="button" (click)="openDialog(null)">
    <mat-icon>add</mat-icon>
  </button>
</div>
