<div class="div.c">
<h2 mat-dialog-title>{{createDialog ? 'Add' : 'Edit '}} Job</h2>
<h1 mat-dialog-title>{{createDialog ? '' : job.jobTitle}}</h1>
</div>
<mat-dialog-content>


  <form *ngIf="createDialog" class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput required type="text" placeholder="Job Title" maxlength="50" [(ngModel)]="job.jobTitle" name="jobTitle">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
  </form>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput required type="number" placeholder="Salary Min" [(ngModel)]="job.salaryMin" name="salaryMin">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
  </form>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput required type="number" placeholder="Salary Max" [(ngModel)]="job.salaryMax" name="salaryMax">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
  </form>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">No Thanks</button>

  <button mat-raised-button color="primary" (click)="create()" [disabled]="!validationInput()" >Save</button>
</mat-dialog-actions>

