<nav mat-tab-nav-bar>
  <a mat-tab-link
     *ngFor="let link of navLinks"
     [routerLink]="link.path" >
    {{link.label}}
  </a>
</nav>
<h2>
  <p>Your personal data</p>
</h2>


<mat-list *ngIf="employee">
  <mat-list-item>Id:   {{employee.idEmployee}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Name:  {{employee.name}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Surname:  {{employee.surname}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Address:  {{employee.address}}</mat-list-item>
</mat-list>






