<h2 mat-dialog-title>{{createDialog ? 'Add' : 'Edit '}} Shop</h2>
<h1 mat-dialog-title>{{createDialog ? '' : 'Nip: '}} {{createDialog ? '' : shop.nip}}</h1>
<mat-dialog-content></mat-dialog-content>
<mat-dialog-content>

  <form *ngIf="createDialog" class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput required type="text" knifeOnlyNumbers placeholder="nip" maxlength="10" [(ngModel)]="shop.nip" name="nip">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
  </form>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput required type="text" placeholder="name" maxlength="50" [(ngModel)]="shop.name" name="name">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
  </form>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput required type="text" placeholder="address" [(ngModel)]="shop.address" maxlength="50" name="address">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
  </form>


  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput required type="text" placeholder="password" [(ngModel)]="shop.password" maxlength="50" name="password">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
  </form>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">No Thanks</button>

  <button mat-raised-button color="primary" (click)="create()" [disabled]="!validationInput()" >Save</button>
</mat-dialog-actions>
