<h2>Reports</h2>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- Id Column -->

    <!-- shop name -->
    <ng-container matColumnDef="nameShop">
      <th mat-header-cell *matHeaderCellDef>Shop name</th>
      <td mat-cell *matCellDef="let row">{{row.shopName}}</td>
    </ng-container>

    <ng-container matColumnDef="employee">
      <th class="headera" mat-header-cell *matHeaderCellDef>Employee
      </th>
      <td mat-cell *matCellDef="let row">{{row.surnameEmployee}} {{row.nameEmployee}}</td>
    </ng-container>

    <!--from date -->
    <ng-container matColumnDef="dateReport">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let row">{{row.id.dateReport | date }}</td>
    </ng-container>


    <ng-container matColumnDef="income">
      <th class="headera" mat-header-cell *matHeaderCellDef>Income
      </th>
      <td mat-cell *matCellDef="let row">{{row.income}}</td>
    </ng-container>

    <ng-container matColumnDef="costs">
      <th class="headera" mat-header-cell *matHeaderCellDef>Costs
      </th>
      <td mat-cell *matCellDef="let row">{{row.costs}}</td>
    </ng-container>

    <ng-container matColumnDef="sold">
      <th class="headera" mat-header-cell *matHeaderCellDef>Sold
      </th>
      <td mat-cell *matCellDef="let row">{{row.sold}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" (click)="openDialog(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="delete(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator #paginator
                 [length]="dataSource.totalElements"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[10,25, 50, 100,250]">
  </mat-paginator>
</div>
<div class="wrapper">
  <button mat-fab color="primary" class="button" (click)="openDialog(null)">
    <mat-icon>add</mat-icon>
  </button>
</div>



