.full-width-table {
  width: 100%;
}

.wrapper {
  text-align: center;
  margin-top: 20px;
}

.inner {
  display: inline-block;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
