<nav mat-tab-nav-bar>
  <a mat-tab-link
     *ngFor="let link of navLinks"
     [routerLink]="link.path" >
    {{link.label}}
  </a>
</nav>

<h2>
  Enter the report
</h2>


<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput type="number" placeholder="income" [(ngModel)]="report.income" name="income">
  </mat-form-field>
</form>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput type="number" placeholder="costs" [(ngModel)]="report.costs" name="costs">
  </mat-form-field>
</form>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput type="number" placeholder="sold" [(ngModel)]="report.sold" name="sold">
  </mat-form-field>
</form>


<div class="example-button-row">
<button mat-stroked-button color="primary" (click)="saveReport()">Send report</button>
</div>

<h2 *ngIf="send">The report has been sent</h2>
